<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
<h2>List of Owners</h2>


<!--/*@thymesVar id="owner" type="com.gurnish.model.Owner"*/-->
<table id="owners" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Serial No.</th>
        <th style="width: 150px;">Name</th>
        <th style="width: 150px;">Last Name</th>

    </tr>
    </thead>
    <!--    iterating through each owner-->

    <tr th:each="owner:${owners}">
    <td th:text="${owner.id}">1</td>
    <td th:text="${owner.firstName}">Gurnish</td>
    <td th:text="${owner.lastName}">Singh</td>
    </tr>
    </tbody>
</table>

</body>
</html>